.ComposeButton {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
}

.InboxCard {
  width: 70%;
  border-bottom: 1px solid black;
  margin: 5px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.BlueCircle {
  border-radius: 50%;
  width: 10px;
  background-color: blue;
  height: 10px;
  margin-right: 20px;
}

.DeleteButton {
  width: 70px;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.SecondNavButton {
  position: fixed;
  top: 80px;
  left: 30px;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
}